@import url("https://fonts.googleapis.com/css?family=Edu+SA+Beginner ");

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Edu SA Beginner;
}

.loginPage,
.signUpPage,
.forgotPasswordPage,
.resetPasswordPage {
  background-image: linear-gradient(
    45deg,
    rgba(95, 212, 223),
    rgba(225, 56, 245)
  );
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Properties for desktop and tablet view of login page media qurery@min-width: 700px to max desktop size*/
.logInFormCard,
.signUpFormCard,
.forgotPasswordPageFormCard,
.resetFormCard {
  background-color: rgba(255, 255, 255, 0.85);
  width: 500px;
  height: 600px;
  border-radius: 20px;
}

.cardTitle,
.signUpCardTitle,
.forgotPasswordCardTitle,
.resetCardTitle {
  width: 100%;
  min-width: 280px;
  height: 50px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardTitle,
.signUpCardTitle,
.forgotPasswordCardTitle,
.resetCardTitle b {
  font-size: 50px;
  color: #3c3c3c;
}

.formSection {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.divideLine {
  width: 400px;
  height: 2px;
  background-color: #3c3c3cca;
}

.otherOptions {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Properties formobile view of login page,signup page , forfot password page  media qurery@min-width: 320px to max mobile size*/

.logInFormCardMobile,
.signUpFormCardMobile,
.forgotPasswordFormCardMobile,
.resetFormCardMobile {
  background-color: rgba(255, 255, 255, 0.85);
  width: 280px;
  height: 500px;
  border-radius: 20px;
}

.cardTitleMobile,
.signUpCardTitleMobile,
.forgotPasswordCardTitleMobile,
.resetCardTitleMobile {
  width: 100%;
  min-width: 280px;
  height: 50px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardTitleMobile,
.signUpCardTitleMobile,
.forgotPasswordCardTitleMobile,
.resetCardTitleMobile b {
  font-size: 25px;
  color: #3c3c3c;
}

.formSectionMobile {
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.divideLineMobile {
  width: 200px;
  height: 2px;
  background-color: #3c3c3cca;
}

.otherOptionsMobile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Properties for desktop and tablet view of signUp page *****signUpFormSection***** alone media qurery@min-width: 700px to max desktop size*/
/* desktop and tablet view starts */
.signUpFormSection {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
/* desktop and tablet view ends */

/* Properties for mobile view of signUp page *****signUpFormSection***** alone media qurery@min-width: 320px to max mobile size*/
/* mobile view starts */
.signUpFormSectionMobile {
  width: 100%;
  margin: 20px 0 0 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
/* mobile view ends */

/* Properties for  desktop and tablet view of forgotPassword page *****forgotPasswordFormSection && forgotPasswordOtherOptions*****  media qurery@min-width: 700px to max mobile size*/
/* desktop and tablet view starts */
.forgotPasswordFormSection {
  width: 100%;
  margin: 50px 0 0 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.verifyOtpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.forgotPasswordOtherOptions {
  width: 100%;
  margin: 10px 0 0 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* desktop and tablet view ends */

/* Properties for  mobile view of forgotPassword page *****forgotPasswordFormSection && forgotPasswordOtherOptions*****  media qurery@min-width: 320px to max mobile size*/
/* mobile view starts */
.forgotPasswordFormSectionMobile {
  width: 100%;
  margin: 50px 0 0 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.verifyOtpFormMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.forgotPasswordOtherOptionsMobile {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* mobile view ends */

/* Properties for  desktop view of forgotPassword page *****reset password*****  media qurery@min-width: 700px to max mobile size*/
/* desk top and tablet view starts */
.resetFormSection {
  width: 100%;
  margin: 50px 0 0 0;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.resetFormSection span {
  font-size: 30px;
  pointer-events: none;
}
/* mobile view ends */

/* Properties for  mobile view of forgotPassword page *****reset password*****  media qurery@min-width: 320px to max mobile size*/
/* mobile view starts */
.resetCardFormSectionMobile {
  width: 100%;
  margin: 50px 0 0 0;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.resetCardFormSectionMobile span {
  font-size: 30px;
  pointer-events: none;
}

/* Main page properties  */

.mainPage,
.mainPageTab {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(98, 0, 238, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
/* ***for desktop starts*** */
.urlForm {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.historyCard {
  margin: 20px 0 0 0;
  width: 90%;
  min-width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.sNo {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urls {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.clicks {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ***for desktop and tablet  ends*** */

/* Main page properties  */
/* ***for tablet starts*** */
.urlFormTab {
  margin: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.historyCardTab {
  margin: 20px 0 0 0;
  width: 80%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.sNoTab {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.urlsTab {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.urlsTab :nth-child(1) {
  font-size: 20px;
}

.clicksTab {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Main page properties  */
/* ***for mobile starts*** */
.mainPageMobile {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(98, 0, 238, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.historyCardMobile {
  margin: 10px 0 0 0;
  width: 90%;
  min-width: 280px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.sNoMobile {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.urlsMobile {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.urlsMobile :nth-child(n) {
  font-size: 10px;
}

.clicksMobile {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
